id ICON "../win32icon.ico"

1 VERSIONINFO
FILEVERSION     1,0,0,0
PRODUCTVERSION  1,0,0,0
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "080904E4"
    BEGIN
      VALUE "CompanyName", "Omnispeak Developers"
      VALUE "FileDescription", "The Armageddon Machine"
      VALUE "FileVersion", "0.5"
      VALUE "InternalName", "omnispeak5e"
      VALUE "LegalCopyright", "(C) 2012-2014 Omnispeak Developers. Commander Keen is (C) id Software"
      VALUE "OriginalFilename", "keen5e.exe"
      VALUE "ProductName", "Omnispeak: Commander Keen 5"
      VALUE "ProductVersion", "0.5"
    END
  END

  BLOCK "VarFileInfo"
  BEGIN
    VALUE "Translation", 0x809, 1252
  END
END
