id ICON "../win32icon.ico"

1 VERSIONINFO
FILEVERSION     1,0,0,0
PRODUCTVERSION  1,0,0,0
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "080904E4"
    BEGIN
      VALUE "CompanyName", "Ceilick"
      VALUE "FileDescription", "Commander Keen in Operation Station Infiltration"
      VALUE "FileVersion", "1.0"
      VALUE "InternalName", "osi"
      VALUE "LegalCopyright", "(C) 2022 Ceilick, Omnispeak Developers. Commander Keen is (C), TM id Software."
      VALUE "OriginalFilename", "osi.exe"
      VALUE "ProductName", "Operation Station Infiltration"
      VALUE "ProductVersion", "1.0"
    END
  END

  BLOCK "VarFileInfo"
  BEGIN
    VALUE "Translation", 0x809, 1252
  END
END
